<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card px-3">
          <div class="card-body">
            <h1 class="card-title">Super Todo list</h1>
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="add-items d-flex">
                <input type="text" class="form-control todo-list-input" formControlName="description"
                       placeholder="What do you need to do today?">
                <button type="submit" [disabled]="!form.get('description')?.valid" class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
              </div>
            </form>
            <div class="list-wrapper">
              <ul class="d-flex flex-column-reverse todo-list">
                <li *ngFor="let todo of todos" (click)="switchTodoStatus(todo)">
                  <div class="form-check" >
                    <label class="form-check-label">
                      <input> <label [ngClass]="{'completed': todo.done}" class="todo-item">{{todo.description}}</label> <span class="badge bg-secondary">{{todo.doneAt}}</span>
                      <i class="input-helper"></i>
                    </label>
                  </div>
                  <i class="remove bi bi-x-circle" (click)="delete(todo)"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
